# For markdownlint
.git/

# Dependency directories (remove the comment below to include it)
node_modules/
.bin/
.venv/
.aqua/
.uv/

# SARIF files
*.sarif.json

# Python cache files
__pycache__/
*.egg-info/
*.pyc

# nvim checkhealth logs
nvim-checkhealth.log
