# For markdownlint
.git

# Dependency directories (remove the comment below to include it)
node_modules/

# Ignore directory history.
vim/.netrwhist

# Ignore vim's swap and backup directories
vim/swap/*
vim/backup/*

# Ignore object files from vcprompt
*.o
src/vcprompt/vcprompt
ycm_build
