[submodule "vim/bundle/jinja"]
    path = vim/bundle/jinja
    url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "vim/bundle/syntastic"]
    path = vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/commentary"]
    path = vim/bundle/commentary
    url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/pathogen"]
    path = vim/bundle/pathogen
    url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-go"]
    path = vim/bundle/vim-go
    url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-protobuf"]
    path = vim/bundle/vim-protobuf
    url = https://github.com/uarun/vim-protobuf.git
[submodule "vim/bundle/vim-surround"]
    path = vim/bundle/vim-surround
    url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-autoclose"]
    path = vim/bundle/vim-autoclose
    url = https://github.com/Townk/vim-autoclose.git
[submodule "bash/lib/ssh-find-agent"]
    path = bash/lib/ssh-find-agent
    url = https://github.com/wwalker/ssh-find-agent.git
[submodule "vim/bundle/vim-autoformat"]
    path = vim/bundle/vim-autoformat
    url = https://github.com/Chiel92/vim-autoformat.git
[submodule "vim/bundle/QuickBuf"]
	path = vim/bundle/QuickBuf
	url = https://github.com/fourjay/QuickBuf.git
[submodule "bash/kubectl-aliases"]
	path = bash/kubectl-aliases
	url = https://github.com/ahmetb/kubectl-aliases.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-cpu"]
	path = tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/requirements.txt.vim"]
	path = vim/bundle/requirements.txt.vim
	url = https://github.com/raimon49/requirements.txt.vim.git
[submodule "nvim/pack/nvim/start/nvim-lspconfig"]
	path = nvim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/pack/nvim/start/vim-commentary"]
	path = nvim/pack/nvim/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-terraform"]
	path = vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "nvim/pack/nvim/start/vim-terraform"]
	path = nvim/pack/nvim/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "nvim/pack/nvim/start/nvim-surround"]
	path = nvim/pack/nvim/start/nvim-surround
	url = https://github.com/kylechui/nvim-surround.git
[submodule "nvim/pack/nvim/start/nvim-cmp"]
	path = nvim/pack/nvim/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "nvim/pack/nvim/start/cmp-nvim-lsp"]
	path = nvim/pack/nvim/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "third_party/mbrukman/autogen"]
	path = third_party/mbrukman/autogen
	url = https://github.com/mbrukman/autogen.git
[submodule "nvim/pack/nvim/start/nvim-treesitter"]
	path = nvim/pack/nvim/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/nvim/start/efmls-configs-nvim"]
	path = nvim/pack/nvim/start/efmls-configs-nvim
	url = https://github.com/creativenull/efmls-configs-nvim.git
