# For markdownlint
.git/

# Dependency directories (remove the comment below to include it)
node_modules/
.bin/
.venv/
.aqua/

# SARIF files
*.sarif.json

# Ignore sbp's hook.log
# TODO(#214): Remove log file location is configurable
bash/sbp/hook.log
