[submodule "bash/lib/ssh-find-agent"]
    path = bash/lib/ssh-find-agent
    url = https://github.com/wwalker/ssh-find-agent.git
[submodule "bash/kubectl-aliases"]
	path = bash/kubectl-aliases
	url = https://github.com/ahmetb/kubectl-aliases.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-cpu"]
	path = tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
[submodule "nvim/pack/nvim/start/nvim-lspconfig"]
	path = nvim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/pack/nvim/start/vim-commentary"]
	path = nvim/pack/nvim/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "nvim/pack/nvim/start/nvim-surround"]
	path = nvim/pack/nvim/start/nvim-surround
	url = https://github.com/kylechui/nvim-surround.git
[submodule "nvim/pack/nvim/start/nvim-cmp"]
	path = nvim/pack/nvim/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "nvim/pack/nvim/start/cmp-nvim-lsp"]
	path = nvim/pack/nvim/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "third_party/mbrukman/autogen"]
	path = third_party/mbrukman/autogen
	url = https://github.com/mbrukman/autogen.git
[submodule "nvim/pack/nvim/start/nvim-treesitter"]
	path = nvim/pack/nvim/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/nvim/start/efmls-configs-nvim"]
	path = nvim/pack/nvim/start/efmls-configs-nvim
	url = https://github.com/creativenull/efmls-configs-nvim.git
[submodule "nvim/pack/nvim/start/mason.nvim"]
	path = nvim/pack/nvim/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim.git
[submodule "nvim/pack/nvim/start/mason-lspconfig.nvim"]
	path = nvim/pack/nvim/start/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "nvim/pack/nvim/start/mason-tool-installer.nvim"]
	path = nvim/pack/nvim/start/mason-tool-installer.nvim
	url = https://github.com/WhoIsSethDaniel/mason-tool-installer.nvim.git
[submodule "nvim/pack/nvim/start/telescope.nvim"]
	path = nvim/pack/nvim/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "nvim/pack/nvim/start/telescope-fzf-native.nvim"]
	path = nvim/pack/nvim/start/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim.git
[submodule "nvim/pack/nvim/start/plenary.nvim"]
	path = nvim/pack/nvim/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/pack/nvim/start/tokyonight.nvim"]
	path = nvim/pack/nvim/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "nvim/pack/nvim/start/lualine.nvim"]
	path = nvim/pack/nvim/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "nvim/pack/nvim/start/trouble.nvim"]
	path = nvim/pack/nvim/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim.git
[submodule "nvim/pack/nvim/start/indent-blankline.nvim"]
	path = nvim/pack/nvim/start/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "nvim/pack/nvim/start/virt-column.nvim"]
	path = nvim/pack/nvim/start/virt-column.nvim
	url = https://github.com/lukas-reineke/virt-column.nvim.git
