# Copyright 2024 Ian Lewis
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: tests

on:
  push:
    branches: [main]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read # Needed to check out the repo.

# NOTE: We use simple job names because these are used in branch rulesets and
#       are matched by name. This makes the job names an identifier rather than
#       just a human-readable label.

jobs:
  # Test that a clean install works on Linux amd64.
  install-all-ubuntu2404-amd64:
    name: install-all-ubuntu2404-amd64
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true
          persist-credentials: false

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: ".node-version"

      - name: Install all
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make clean all

  # Test that a clean install works on Linux arm64.
  install-all-ubuntu2404-arm64:
    name: install-all-ubuntu2404-arm64
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true
          persist-credentials: false

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: ".node-version"

      - name: Install all
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make clean all

  # Test that a clean install works on MacOS.
  install-all-macos26-arm64:
    name: install-all-macos26-arm64
    runs-on: macos-26
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true
          persist-credentials: false

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"

      # NOTE: Homebrew/actions does not publish tags.
      - uses: Homebrew/actions/setup-homebrew@c39f0335940fb3214046dce5a5d2f94ed275ab4b # main

      - name: Install GNU tools
        run: |
          brew install \
            make \
            grep \
            gawk \
            coreutils \
            libyaml

      - name: Install all
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gmake clean all

  # NOTE: needed for protected branch checks.
  install-all:
    name: install-all
    runs-on: ubuntu-latest
    needs:
      - install-all-ubuntu2404-amd64
      - install-all-ubuntu2404-arm64
      - install-all-macos26-arm64
    if: ${{ always() }}
    env:
      INSTALL_UBUNTU_AMD64_RESULT: ${{ needs.install-all-ubuntu2404-amd64.result }}
      INSTALL_UBUNTU_ARM64_RESULT: ${{ needs.install-all-ubuntu2404-arm64.result }}
      INSTALL_MACOS_ARM64_RESULT: ${{ needs.install-all-macos26-arm64.result }}
    steps:
      - run: |
          [ "${INSTALL_UBUNTU_AMD64_RESULT}" == "success" ]
          [ "${INSTALL_UBUNTU_ARM64_RESULT}" == "success" ]
          [ "${INSTALL_MACOS_ARM64_RESULT}" == "success" ]

  # format-check
  ###############################
  format-check:
    uses: ./.github/workflows/workflow_call.format-check.yml

  # linters
  ###############################
  actionlint:
    uses: ./.github/workflows/workflow_call.actionlint.yml

  checkmake:
    uses: ./.github/workflows/workflow_call.checkmake.yml

  commitlint:
    uses: ./.github/workflows/workflow_call.commitlint.yml

  fixme:
    uses: ./.github/workflows/workflow_call.fixme.yml

  markdownlint:
    uses: ./.github/workflows/workflow_call.markdownlint.yml

  renovate-config-validator:
    uses: ./.github/workflows/workflow_call.renovate-config-validator.yml

  selene:
    uses: ./.github/workflows/workflow_call.selene.yml

  shellcheck:
    uses: ./.github/workflows/workflow_call.shellcheck.yml

  textlint:
    uses: ./.github/workflows/workflow_call.textlint.yml

  yamllint:
    uses: ./.github/workflows/workflow_call.yamllint.yml

  zizmor:
    permissions:
      contents: read # Needed for private repositories.
      security-events: write # Needed to upload SARIF results.
    uses: ./.github/workflows/workflow_call.zizmor.yml
